<div class = "container-fluid mb-5">
    <h1>Get Screen</h1>
    <div class="container">
        <form #screenForm="ngForm" (ngSubmit)="getScreen(screenForm)" novalidate>

            <div class="form-group">
                <label class="form-group-label">Screen Id</label>
                <select class="custom-select" #screenId="ngModel" name="screenId" required ngModel>
                    <option selected value="">Choose Screen</option>
                    <option *ngFor="let screen of selectedScreenList" value="{{screen.screenId}}">{{screen.screenId}}</option>
                </select>
            </div>
                <div *ngIf="screenId.invalid && (screenId.dirty || screenId.touched)" class="alert alert-danger">
                    <small *ngIf="screenId.errors.required">
                       Please choose the Screen.
                    </small>
                </div>
            

            <button [disabled]="screenForm.form.invalid" class="btn btn-primary" type="submit">Find</button>
        </form>
    </div>

    <div class="container" *ngIf="check">
        <h1>Screen details</h1>
        <table class="table">
            <tr>
                <th>Screen Id</th><td>{{screen.screenId}}</td>
            </tr>
            <tr>
                <th>Theater Id</th><td>{{screen.theaterId}}</td>
            </tr>
            <tr>
                <th>Screen name</th><td>{{screen.screenName}}</td>
            </tr>
            <tr>
                <th>Show List</th><td>{{screen.showList}}</td>
            </tr>
            <tr>
                <th>Rows</th><td>{{screen.rows}}</td>
            </tr>
            <tr>
                <th>Columns</th><td>{{screen.columns}}</td>
            </tr>
        </table>
    </div>
</div>

