<div style="text-align:center">
    <h1>Welcome Admin</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div>
            <button><a routerLink="/addTheater">Add Theater</a></button>
        </div>
        <div>
            <button><a routerLink="/theaters">All Theaters</a></button>
        </div>
        <div>
            <button><a routerLink="/findTheater">Search Theater</a></button>
        </div>
        <div>
            <button><a routerLink="/deleteTheater">Delete Theater</a></button>
        </div>

        <div>
            <button><a routerLink="/addScreen">Add Screen</a></button>
        </div>
        <div>
            <button><a routerLink="/screens">All Screens</a></button>
        </div>
        <div>
            <button><a routerLink="/findScreen">Search Screen</a></button>
        </div>
        <div>
            <button><a routerLink="/deleteScreen">Delete Screen</a></button>
        </div>
    </div>

</nav>
<br/>

<router-outlet></router-outlet>