<div class="container-fluid">
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: 37%;font-size: 50px;">
    <a style="color:black;" href="#">Welcome Admin</a></p>
 </div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div>
        <li><a style="color: beige;" routerLink="/addTheater">Add Theater</a></li>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/theaters">All Theaters</a></li>
    </div>
    <div>
        <li><a style="color: beige;"routerLink="/findTheater">Search Theater</a></li>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/deleteTheater">Delete Theater</a></li>
    </div>

    <div>
        <li><a style="color: beige;" routerLink="/addScreen">Add Screen</a></li>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/screens">All Screens</a></li>
    </div>
    <div>
        <li><a style="color: beige;" routerLink="/findScreen">Search Screen</a></li>
    </div>
    <div>
        <li><a style="color: beige;"routerLink="/deleteScreen">Delete Screen</a></li>
    </div>
    </div>
  </nav>
<router-outlet></router-outlet> 
 
